{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}

<div class="page-header">
  <h1>{% block title %}MI-DDW task 1{% endblock %}</small></h1>
</div>

<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% if major %}
<ul>
{% for key, value in major.items %}
  <li>{{ key }} &mdash; {{ value }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block scripts %}{% endblock %}
